@media(min-width:992px){
.header{
    flex-direction: row;
    &__img{
        height: 100%;
        order: 1;
    }
    &__text{
        order: 0;
    }
}
main{
    padding-top: 3em;
    .about-us{
        &__box{
            margin-bottom: 3em;
        }
        &__img{
            order:0;
            padding: 0 1em;
        }
        &__text{
            order:0;
            padding: 0 1em;
            font-size: 1.6rem;
        }
    }
.offert{
    font-size: 1.6rem;
    &__box{
    flex-direction: row;
    }
    &__text{
        order:0;
    }
    &__img{
        order:1;
    }
}
.group{
    font-size: 1.6rem;
}
.socials{
    &__box{
        flex-direction: row;
    }
    &__text{
        font-size: 1.6rem;
    }
}
.table-list{
        &__box{
            flex-direction: row;
        }
    }
    .promotions{
        &__box{
            flex-direction: row;
        }
}
.we-are-here{
    font-size: 2rem;
    &__box{
        flex-direction: row;
    }
}
.contact-us{
    font-size: 1.5rem;
    &__box{
        flex-direction: row;
    }
    &__info{
        width: 30%;
    }
    &__form{
        width: 50%;
        margin-left: 2em;
    }
    &__line{
        margin: 0 2em;
        padding: 1px;
        width: 2px;
        min-height: 100%;
        border-radius: 10px;
        background-color: $third-color;
}
    }
.coach{
    padding: 3em 0;
    font-size: 1.6rem;
    &__box{
        &-info{
            flex-direction: row;
            &--img{
                &--right{
                    order: 1;
                }
            }
            &--text{
                padding: 2em;
                &--right{
                    order: 0;
                }
            }
        }
    }
}
.coach__socials{
    &-box{
        &--text{
            flex-direction: row;
        }
    }
}
}
}
