@media(min-width:992px){
.header{
    flex-direction: row;
    .header-img{
        height: 100%;
    }
}
main{
    padding-top: 3em;
    .about-us{
        &-img{
            order:0;
            padding: 0 1em;
        }
        &-text{
            order:0;
            padding: 3em 1em;
        }
    }
.offert{
    &-box{
    flex-direction: row;
    }
    &-text{
        order:0;
    }
    &-img{
        order:1;
    }
}
.socials{
    &-box{
        flex-direction: row;
    }
}
.table-list{
        &-box{
            flex-direction: row;
        }
    }
    .promotions{
        &-box{
            flex-direction: row;
        }
}
.we-are-here{
    &__box{
        flex-direction: row;
    }
}
.contact-us{
    &__form{
        &-box{
            textarea{
                    width: 500px;
                    height: 150px;
            }
        }
    }
}
.coach{
    &__box{
        &-info{
            flex-direction: row;
            &--img{
                &--right{
                    order: 1;
                }
            }
            &--text{
                padding: 2em;
                &--right{
                    order: 0;
                }
            }
        }
    }
}
.coach__socials{
    &-box{
        &--text{
            flex-direction: row;
        }
    }
}
}
}
