@import "./colors";


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
hr{
    margin: 0;
}
body{
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    background-color: $main-color;
    color: $third-color;
}
h2{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.wobble-hor-bottom {
	animation: wobble-hor-bottom 2s infinite both;
}
.underline {
    width: 60px;
    height: 4px;
    background-color: $third-color;
    margin: 0 auto;
    margin-bottom: 40px;
}
.navbar{
    text-transform: uppercase;
    font-size: 1.3rem;
    z-index: 999;
    transition: .3s;
        i{
            transition: .3s;
        }
        a{
            position: relative;
        }
        a, a:after{
            transition: .3s;
        }
        a, i{
            color: $third-color;
        }
        a:hover,  a:hover i, a:focus{
            color:$fourth-color;
        }
        a::after{
            content: "";
            background-color: $fourth-color;
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: scaleX(0);
            transform-origin: left;
        }
        a:hover::after {
            transform: scaleX(1);
            transform-origin: left;
        }
}
.header{
    background-color: $secondary-color;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    &-img{
        height: 50%;
    position: relative;
        background-image: url('../img/Te.jpg');
        background-size: cover;
        background-position:center;
        z-index: 0;
    }
    &-shadow{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: -1;
    }
    &-text{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        padding-top: 2em;
        text-align: center;
        flex-direction: column;
        text-transform: uppercase;
        z-index: 5;
        color: $third-color;
        &--icon img{
            position: absolute;
            opacity: 0.4;
            &:nth-child(1){
                top: 11%;
            left: 10%;
            width: 10%;
            animation: rotateRight 60s infinite linear;
            }
            &:nth-child(2){
                bottom: 10%;
                right: 10%;
                width: 12%;
                animation: rotateLeft 80s infinite linear;
            }
        }
    }
    .btn{
        color:$third-color;
        border: 1px solid $third-color;
        &:hover{
            color:$main-color;
            background-color: $third-color;
        }
    }
}
main{
    background-color: $main-color;
    .about-us{
        padding: 3em 0;
        &-img{
            order: 0;
            padding: 1em;
            img{
                width: 100%;
            }
        }
        &-text{
            padding: 1em;
            order:1;
            letter-spacing: 1px;
            h3{
                font-weight: bold;
            }
            a{
                text-decoration: none;
                color:$third-color;
                font-weight: bold;
                transition: .3s;
                &:hover{
                    color: $fourth-color;
                }
            }
        }
    }
    .offert{
        &-box{
            padding-top: 2em;
            display: flex;
        flex-direction: column;
        }
        &-img{
            position: relative;
            padding: 1em;
            z-index: 0;
            img{
                width: 100%;
            }
        }
        &-text{
            display: flex;
            padding: 1em;
            flex-direction:column;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
        &-btn{
            text-decoration: none;
            text-transform: uppercase;
            border: 1px solid $third-color;
            color: $third-color;
            padding: 0.5em 1em;
            transition: .5s;
            &:hover{
                color: $main-color;
                background-color: $third-color;
            }
        }
}
    .group{
        height: 70vh;
        position: relative;
        background-color: $secondary-color;
        &-ref{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%);
            button{
                background-color: transparent;
                text-decoration: none;
                text-transform: uppercase;
                border: 1px solid $third-color;
                color: $third-color;
                padding: 1em 2em;
                text-align: center;
                transition: .3s;
                &:hover{
                    background-color: $third-color;
                    color:$main-color;
                }
            }
        }
        &-img{
        img{
            position: absolute;
            opacity: 0.4;
            &:nth-child(1){
                top: 30%;
                left: 10%;
                width: 10%;
                animation: rotateLeft 60s infinite linear;
            }
            &:nth-child(2){
                bottom: 15%;
                right: 10%;
                width: 8%;
                animation: rotateRight 40s infinite linear;
            }
        }
    }
    }
    .socials{
        &-box{
            display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
        &-img{
            img{
                padding: 1em;
                width: 100%;
            }
        }
        &-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            p{
                padding: 1em 0;
                text-align: center;
                color:$third-color;
                &:nth-child(2){
                    word-break: break-all;
                }
            }
        }
    }
}
.table-list{
    padding: 2em 0.5em;
    margin-top: 1em;
    .carnets{
        padding: 1em;
    }
    tr, th, td{
        border: 1px solid $third-color;
    }
    tr:last-child{
        font-weight: bold;
    }
    tr:nth-child(even){
        background-color: $secondary-color;
    }
    table{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 2em 0em;
        td{
            padding: 1em;
        }
        }
        &-box{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
        &-contact{
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            text-align: center;
            a{
                padding: 1em;
                text-decoration: none;
                color: $third-color;
                transition: color .5s;
                &:hover{
                    color: $fourth-color;
                }
            }
        }
    }
.offert-list{
    padding: 2em 1em;
    background-color: $secondary-color;
    &-box{
        position: relative;
        align-items: center;
        border: 1px solid $third-color;
        border-radius: 10px;
        text-align: center;
        padding: 1em;
        margin: 1em 0;
        overflow: hidden;
        transition: .5s;
        &:hover button, &:hover{
            background-color: $third-color;
            color:$main-color;
            border: 1px solid $main-color;
        }
        h3{
            font-weight: bold;
            font-size: 2rem;
        }
        hr{
            padding-bottom: 0.5em;
        }
        p{
            padding: 0.1em 0;
            letter-spacing: 2px;
        }
        .price-tag{
            font-weight: bold;
            font-size: 2rem;
        }
        button{
            padding: 0.5em 1em;
            background-color: transparent;
            color: $third-color;
            border: 1px solid $third-color;
            border-radius: 10px;
            transition: .5s;
            &:hover{
                background-color: $main-color;
                color: $third-color;
            }
        }
    }
    &-coach{
        display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            text-align: center;
            padding: 1em;
            a{
            padding: 1em 2em;
        text-decoration: none;
        color: $third-color;
        transition: color .5s;
        border: 2px solid $third-color;
        transition: .5s;
        border-radius: 10px;
        &:hover{
            color: $main-color;
            background-color: $third-color;
        }
    }
    }
}
    .promotions{
        padding: 2em 1em;
        &-box{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            text-align: center;
        }
        &-list{
            border: 1px solid $third-color;
            border-radius: 10px;
            padding: 1em;
            margin: 2em 0;
            transition: .5s;
            .discount-tag, span{
                font-weight: bold;
            }
            &:hover{
                background-color: $third-color;
                color:$main-color;
            }
    }
}
.we-are-here{
    padding: 3em 0;
    &__box{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        &--map{
            padding: 2em;
        }
        &--text{
            text-align: center;
            letter-spacing: 2px;
            font-size: 2rem;
        }
    }
}
.contact-us{
    padding: 3em 2em;
    background-color: $secondary-color;
    &__form{
        padding: 2em 0.5em;
        display: flex;
        flex-direction: column;
            align-items: center;
            justify-content: center;
        &-box{
            padding: 1em;
            input{
                border: 2px solid $third-color;
                padding: 0.5em 0em;
            }
            input:nth-child(1){
                margin-bottom: 2em;
            }
            textarea{
                border: 2px solid $third-color;
                    width: 300px;
                    height: 150px;
            }
        }
        &-btn{
            padding: 1em 2em;
            color:$third-color;
            background-color:$secondary-color;
            border: 1px solid $third-color;
        }
    }
}
.coach{
    padding: 2em 0;
    background-color: $secondary-color;
    &__box{
        &-info{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            padding: 1em;
            &--img{
                img{
                    border-radius: 20px;
                    width: 100%;
                }
            }
            &--text{
                word-spacing: 1px;
                letter-spacing: 1px;
                padding: 2em 0;
            }
        }
        h2{
            padding-top: 2em;
        }
    }
}
.coach__socials{
    padding: 3em 0;
    &-box{
        &--text{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 2em 1em;
            a{
                text-decoration: none;
                color: $third-color;
                font-size: 2rem;
                padding: 1em 0;
            }
            p{
                transition: 0.3s;
            }
            p:hover{
                color: $fourth-color;
            }
        }
    }
}
.footer{
    text-align: center;
    padding: 1em;
    background-color: $secondary-color;
}
@import "./animations";
@import "./medium";